html {
    overflow: hidden;
    background-color: #000;
}

body {
    margin: 0;
}

/*
#cnv {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid white;
}
*/
